LOCAL_MYSQL_HOST=127.0.0.1
LOCAL_MYSQL_PORT=13306
LOCAL_MYSQL_DATABASE=coffee_order
LOCAL_MYSQL_USERNAME=coffee
LOCAL_MYSQL_PASSWORD=coffee
LOCAL_REDIS_HOST=127.0.0.1
LOCAL_REDIS_PORT=16379
LOCAL_KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:19092
